node_modules/
.DS_Store
dist/
dist-ssr/
*.local
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.idea
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# 我们把这些临时的 python 脚本和多余的数据备份也忽略掉，不传到 GitHub
*.py
*.bak
*.bak2
*pixel.png
*transparent.png
test*.html
*svg.html
cyber*.txt
base64*.txt

